:root {
    --color-white: #EFEEEC;
    --color-lightest : #D3DCED;
    --color-light : #AEC6E8;
    --color-medium : #477CBE;
    --color-dark : #16356C;
    --color-darkest : #292728;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: var(--color-lightest);
    font-family: sans-serif;
    height: 100vh;
}

/* HEADER */ 

h1 {
    color: var(--color-dark);
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

.return-link {
    color: var(--color-dark);
    padding: 10px;
}

/* CONTENT */
.main-aside-wrapper {
    display: flex;
    justify-content: space-around;
}

    /* MAIN */
    .list {
        flex-grow: 1;
        width: 50%;
    }

    .cate-li,
    .subject-li,
    .posts-title-date {
        background-color: var(--color-darkest);
        display: block;
        padding: 15px;
        margin: 10px;
        text-transform: uppercase;
        width: auto;
    }

    .cate-a,
    .subject-a,
    .posts-title-date {
        color: var(--color-light);
        flex-grow: 1;
    }

    .posts-title-date {
        margin: 10px 10px 0px;
    }

    .subject-li,
    .posts-title-date {
        text-transform: none;
    }

    .subject-date,
    .posts-date {
        font-size: 12px;
    }

    .posts-content {
        background-color: var(--color-white);
        margin: 0 10px 10px;
        padding: 15px;
    }

    /* ASIDE */
    .form,
    .form-subject,
    .form-posts {
        padding: 15px;
        width: 33.333333%;
    }

    .form-subject {
        width: 100%;
    }

    .input-text,
    .input-btn {
        background-color: var(--color-white);
        padding: 10px;
        width: 100%;
    }

    .input-btn {
        background-color: var(--color-medium);
    }

    .input-textarea {
        height: 250px;
        width: 100%;
    }
    
    .white-space {
        white-space: pre-wrap; 
    }